# Indexing and selecting data

http://pandas.pydata.org/pandas-docs/stable/indexing.html 

## Different ways to index and select

Using `.loc`:

- Single label (`df.loc['Label']`)
- List or array of labels (`df.loc[['a','b','c']]`)
- Slice object (`df.loc['a':'f']` -- note both beginning and end are included unlike usual slicing) (BUT see below)
- Boolean array (`df.loc[True, True, False]`)
- Callable function

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'a': [1,2,3], 'b': [10,20,30]})
df

   a   b
0  1  10
1  2  20
2  3  30

In [18]:
df.loc[0]

a     1
b    10
c     9
Name: 0, dtype: int64

In [7]:
df['c'] = [9,11,13]
df[['a','c']]

   a   c
0  1   9
1  2  11
2  3  13

In [9]:
df[['a':'c']]

SyntaxError: invalid syntax (<ipython-input-9-e17e86b2b5bf>, line 1)

Using `.iloc`: 

- Single integer
- List or array of integers
- Slice object with ints
- Boolean array
- Callable function

In [14]:
print(df)
print(df.iloc[1])
print(df.iloc[[2,1]])

   a   b   c
0  1  10   9
1  2  20  11
2  3  30  13
a     2
b    20
c    11
Name: 1, dtype: int64
   a   b   c
2  3  30  13
1  2  20  11

In [23]:
df.reindex(labels=['Harry', 'Penny', 'Lucy'])

        a   b   c
Harry NaN NaN NaN
Penny NaN NaN NaN
Lucy  NaN NaN NaN

## Basics

## Attribute access

## Slicing ranges

## Selection by label

## Slicing by labels

## Selection by position

## Selection by callable

## Selecting random samples

## Boolean indexing

## Indexing with `isin`

## The `where` method and masking

## Duplicate data

## Index objects

## Set/reset index