In [1]:
import pandas as pd
import numpy as np

# Merge, join, concatenate

## Concatenating

In [3]:
sec01_grades = pd.DataFrame({
'hw': [10, 9, 4], 
'pp': ['E', 'R', 'E'],
'gp': ['Pass', 'Pass', 'Pass']}, 
       index=['Alice', 'Bob', 'Chuck'])

In [4]:
sec01_grades

,gp,hw,pp
Alice,Pass,10,E
Bob,Pass,9,R
Chuck,Pass,4,E

In [5]:
sec02_grades = pd.DataFrame({
'hw': [8, 10, 1], 
'pp': ['E', 'M', 'N'],
'gp': ['Pass', 'Pass', 'No Pass']}, 
       index=['Doug', 'Eve', 'Fred'])

In [6]:
sec02_grades

,gp,hw,pp
Doug,Pass,8,E
Eve,Pass,10,M
Fred,No Pass,1,N

In [7]:
# Glue these together vertically by passing a list of data frames

pd.concat([sec01_grades, sec02_grades])

,gp,hw,pp
Alice,Pass,10,E
Bob,Pass,9,R
Chuck,Pass,4,E
Doug,Pass,8,E
Eve,Pass,10,M
Fred,No Pass,1,N

In [8]:
sec01_extra = pd.DataFrame({
'ec': [53, 54, 24], 
'fe': [100, 90, 80]}, 
       index=['Alice', 'Bob', 'Chuck'])

In [9]:
# Put them together horizontally by specifying axis = 1

pd.concat([sec01_grades, sec01_extra], axis=1)

,gp,hw,pp,ec,fe
Alice,Pass,10,E,53,100
Bob,Pass,9,R,54,90
Chuck,Pass,4,E,24,80

In [12]:
# What if you leave off the index? 

sec01_extra = pd.DataFrame({
'ec': [53, 54, 24], 
'fe': [100, 90, 80]}) 

pd.concat([sec01_grades, sec01_extra], axis=1)

,gp,hw,pp,ec,fe
Alice,Pass,10.0,E,NaN,NaN
Bob,Pass,9.0,R,NaN,NaN
Chuck,Pass,4.0,E,NaN,NaN
0,NaN,NaN,NaN,53.0,100.0
1,NaN,NaN,NaN,54.0,90.0
2,NaN,NaN,NaN,24.0,80.0

In [13]:
# Answer: Pandas has no way of knowing that the new data was supposed to go with the old ones.

In [17]:
# The .append method does the same thing as concat: 

sec01_grades.append(sec02_grades)

,gp,hw,pp
Alice,Pass,10,E
Bob,Pass,9,R
Chuck,Pass,4,E
Doug,Pass,8,E
Eve,Pass,10,M
Fred,No Pass,1,N

## Merging

In [18]:
sec01_more = pd.DataFrame({
'gp': ['Pass', 'Pass', 'Pass'],
'brownie_points':[22, 33,44]}, 
       index=['Alice', 'Bob', 'Chuck'])

In [19]:
pd.merge(sec01_grades, sec01_more, on='gp')

,gp,hw,pp,brownie_points
0,Pass,10,E,22
1,Pass,10,E,33
2,Pass,10,E,44
3,Pass,9,R,22
4,Pass,9,R,33
5,Pass,9,R,44
6,Pass,4,E,22
7,Pass,4,E,33
8,Pass,4,E,44