In [1]:
import pandas as pd
import numpy as np

# Working with Text Data

Pandas has methods that look and work like the usual string methods, and they are vectorized and ignore missing values.

In [2]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [3]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [4]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5     NaN
6    CABA
7     DOG
8     CAT
dtype: object

In [5]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
6    4.0
7    3.0
8    3.0
dtype: float64

Can also strip blank spaces out -- this was an issue in an earlier data file.

In [6]:
acc = pd.read_csv("accounts.csv")

In [8]:
# Note the spaces in the column names

acc.columns

Index(['date', ' person', ' dollars'], dtype='object')

In [10]:
acc.columns.str.strip()

Index(['date', 'person', 'dollars'], dtype='object')

In [12]:
# This example does a bunch of things: Strip out whitespace, 
# convert to lowercase, replace spaces with underscores. 

df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '], index=range(3))

In [13]:
df

,Column A,Column B
0,-0.787839,0.410843
1,1.429758,-0.125425
2,0.626099,-0.169081

In [15]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [16]:
df

,column_a,column_b
0,-0.787839,0.410843
1,1.429758,-0.125425
2,0.626099,-0.169081

**Stopping here because the rest of it involves regular expressions -- need to learn more.**